body {
  margin: 0;
  /* Remove default body margin */
  height: 100vh;
  /* Make sure the body takes up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#container {
  max-width: 100%;
  /* Adjust the max-width if needed */
  max-height: 100%;
  /* Adjust the max-height if needed */
  text-align: center;
  /* Center the content within the container */
  margin-left: -20%;
}

img {
  max-width: 100%;
  height: auto;
  /* Maintain the image aspect ratio */
}

@media (max-width: 767px) {

  /* Adjust this breakpoint based on your design needs */
  body {
    align-items: flex-start;
    /* Align items at the top for small screens */
  }

  #container {
    margin-top: 15vh;
    /* Adjust this value to position it slightly lower */
  }
}

/* Updated styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  /* Adjusted to right */
  width: 30%;
  /* Adjusted width as needed */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
}

/* Updated styles for the modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  /* Change the font family as needed */
  color: #333;
  /* Change the text color */
}

/* Style for modal headings */
.modal-content h3 {
  font-size: 1.5em;
  /* Adjust the heading font size */
  color: #007bff;
  /* Change the heading color */
  margin-bottom: 15px;
}

/* Style for modal paragraphs */
.modal-content p {
  font-size: 1em;
  /* Adjust the paragraph font size */
  line-height: 1.5;
  /* Adjust the line height for better readability */
  color: #666;
  /* Change the paragraph text color */
  margin-bottom: 10px;
}

/* Close button style */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  z-index: 2;
}

/* Style for image within the modal */
.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

#image_container {
  padding-top: 90px;
  /* Adjust as needed to give space for the header */
}


/* Add this CSS to your existing styles */
.area-title {
  font-size: 14px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Adjust the font weight as needed */
  color: #ffffff;
  /* Adjust the font color as needed */
  background-color: blue;
  /* Adjust the background color as needed */
  padding: 5px;
  /* Adjust the padding as needed */
  border-radius: 5px;
  /* Add border-radius for rounded corners */
  position: absolute;
}